:root {
	font-family: 'Chakra Petch', sans-serif;
	font-family: 'IBM Plex Mono', monospace;
}

body {
	background-image: url("../img/fast-flowers.jpeg");
	background-size: cover;
	background-position: center;
	display: block;
	height: 600px;
	color: white;
	font-family: 'Chakra Petch', sans-serif;
	text-shadow: 0 0 2px #000000, 0 0 5px #000000;
	text-align: center;
	margin-top: 45px;
}

.cover-container {
	max-width: 65em;
}

.cover-container a {
	font-size: 20px;
	color: white;
	font-weight: 600;
	filter: grayscale(100%);
}

.about-photo1 {
	width: 300px;
	height: 375px;
	margin: 10px;
	object-fit: cover;
}

.about-photo2 {
	width: 300px;
	height: 375px;
	margin: 10px;
	object-fit: cover;
}

.card {
	padding: 40px;
	background-color: rgba(63, 63, 63, 0.466);
}

.card p {
	font-size: 23px;
}

