:root {
	font-family: 'Chakra Petch', sans-serif;
	font-family: 'IBM Plex Mono', monospace;
}

body {
	background: url("../img/northern-lights.jpeg");
	background-size: cover;
	background-position: center;
	display: block;
	height: 600px;
	color: white;
	font-family: 'Chakra Petch', sans-serif;
	text-shadow: 0 0 2px #000000, 0 0 5px #000000;
	text-align: center;
	margin-top: 45px;
}

.cover-container {
	max-width: 65em;
}

.cover-container a {
	font-size: 20px;
	color: white;
	font-weight: 600;
	filter: grayscale(100%);
}

.card {
	padding: 30px;
	background-color: rgba(63, 63, 63, 0.438);
	margin: 10px;
}

h2 {
	margin-top: 20px;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;	
	text-align: center
}

.fab {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 50px;
}

.fab:hover {
	border: 5px solid  #9fec61;
   box-shadow: 0 0 15px  #9fec61;
   transition: all 0.5s ease;
}


