:root {
	font-family: 'Chakra Petch', sans-serif;
	font-family: 'IBM Plex Mono', monospace;
}

body {
	background-image: url("../img/clouds.jpeg");
	background-size: cover;
	background-position: center;
	display: block;
	filter: grayscale(100%);
	height: 500px;
	color: white;
	font-family: 'Chakra Petch', sans-serif;
	text-shadow: 0 0 2px #000000, 0 0 5px #000000;
	text-align: center;
	margin-top: 45px;
}

.cover-container {
	max-width: 65em;
}

.cover-container a {
	font-size: 20px;
	color: white;
	font-weight: 600;
}

.cover-container h1 {
	font-size: 45px;
	font-weight: 600;

}

.px-3 p {
	font-size: 30px;
	font-weight: 600;
}

.px-3 i {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-size: 25px;
}





